extends ./index_tp.jade
prepend head
  - var title = "化物所首页";
prepend body
  - var body_id = "index";
  - var path = "data";
block main
    template.
        <div class="body">
            <div class="data-page">
              <div class="index-header">
                <div class="header-container">
                  <h3>找AI问答，上chat</h3>
                  <el-input placeholder="请输入内容" value="">
                    <div slot="prepend">
                      <i class="el-icon-search"></i>
                    </div>
                    <el-button slot="append">发现一下</el-button>
                  </el-input>
                  <div class="hot-search">
                    <h5>热门搜索</h5>
                    <ul>
                      <li>双一流 </li>
                      <li>学科专业目录 </li>
                      <li>学科评估 </li>
                      <li>本科专业目录</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="layout page-data-container">
                <div class="container-left">
                    <div id="menuBox" class="menu-box fixedClass">
                        <div >
                            <a href="#39" class="menu-item">
                                <div class="left"><img src="./img/icon/39.svg" alt="" class="icon"> <span>学校名单</span> </div>
                                <div class="count">6</div>
                            </a>
                        </div>
                        <div >
                            <a href="#39" class="menu-item">
                                <div class="left"><img src="./img/icon/39.svg" alt="" class="icon"> <span>学校名单</span> </div>
                                <div class="count">6</div>
                            </a>
                        </div>
                        <div >
                            <a href="#39" class="menu-item">
                                <div class="left"><img src="./img/icon/39.svg" alt="" class="icon"> <span>学校名单</span> </div>
                                <div class="count">6</div>
                            </a>
                        </div>
                        <div >
                            <a href="#39" class="menu-item">
                                <div class="left"><img src="./img/icon/39.svg" alt="" class="icon"> <span>学校名单</span> </div>
                                <div class="count">6</div>
                            </a>
                        </div>
                        <div >
                            <a href="#39" class="menu-item">
                                <div class="left"><img src="./img/icon/39.svg" alt="" class="icon"> <span>学校名单</span> </div>
                                <div class="count">6</div>
                            </a>
                        </div>
                        <div >
                            <a href="#39" class="menu-item">
                                <div class="left"><img src="./img/icon/39.svg" alt="" class="icon"> <span>学校名单</span> </div>
                                <div class="count">6</div>
                            </a>
                        </div>
                        <div >
                            <a href="#39" class="menu-item">
                                <div class="left"><img src="./img/icon/39.svg" alt="" class="icon"> <span>学校名单</span> </div>
                                <div class="count">6</div>
                            </a>
                        </div>
                        <div >
                            <a href="#39" class="menu-item">
                                <div class="left"><img src="./img/icon/39.svg" alt="" class="icon"> <span>学校名单</span> </div>
                                <div class="count">6</div>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="container-right">
                    <div class="item-box">
                        <div id="-1"></div>
                        <div class="title"><span data-v-735a4ed6="">最新数据</span></div>
                        <div class="content-box">
                            <div class="content">
                                <div class="content-img"><img src="./img/icon/39-active.svg"
                                        alt=""></div>
                                <div class="content-title">
                                    高校思想政治理论课教师研究专项一般项目
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    教育部人文社会科学研究专项任务项目
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    教育部人文社会科学研究一般项目(不含专项任务项目)
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    中国工程院院士
                                    
                                </div> 
                            </div>
                        </div> 
                    </div>
                    <div class="item-box">
                        <div id="-1"></div>
                        <div class="title"><span data-v-735a4ed6="">最新数据</span></div>
                        <div class="content-box">
                            <div class="content">
                                <div class="content-img"><img src="./img/icon/39-active.svg"
                                        alt=""></div>
                                <div class="content-title">
                                    高校思想政治理论课教师研究专项一般项目
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    教育部人文社会科学研究专项任务项目
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    教育部人文社会科学研究一般项目(不含专项任务项目)
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    中国工程院院士
                                    
                                </div> 
                            </div>
                        </div> 
                    </div>
                    <div class="item-box">
                        <div id="-1"></div>
                        <div class="title"><span data-v-735a4ed6="">最新数据</span></div>
                        <div class="content-box">
                            <div class="content">
                                <div class="content-img"><img src="./img/icon/39-active.svg"
                                        alt=""></div>
                                <div class="content-title">
                                    高校思想政治理论课教师研究专项一般项目
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    教育部人文社会科学研究专项任务项目
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    教育部人文社会科学研究一般项目(不含专项任务项目)
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    中国工程院院士
                                    
                                </div> 
                            </div>
                        </div> 
                    </div>
                    <div class="item-box">
                        <div id="-1"></div>
                        <div class="title"><span data-v-735a4ed6="">最新数据</span></div>
                        <div class="content-box">
                            <div class="content">
                                <div class="content-img"><img src="./img/icon/39-active.svg"
                                        alt=""></div>
                                <div class="content-title">
                                    高校思想政治理论课教师研究专项一般项目
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    教育部人文社会科学研究专项任务项目
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    教育部人文社会科学研究一般项目(不含专项任务项目)
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    中国工程院院士
                                    
                                </div> 
                            </div>
                        </div> 
                    </div>
                    <div class="item-box">
                        <div id="-1"></div>
                        <div class="title"><span data-v-735a4ed6="">最新数据</span></div>
                        <div class="content-box">
                            <div class="content">
                                <div class="content-img"><img src="./img/icon/39-active.svg"
                                        alt=""></div>
                                <div class="content-title">
                                    高校思想政治理论课教师研究专项一般项目
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    教育部人文社会科学研究专项任务项目
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    教育部人文社会科学研究一般项目(不含专项任务项目)
                                    
                                </div> 
                            </div>
                            <div class="content">
                                <div class="content-img"><img data-v-735a4ed6=""
                                        src="./img/icon/39-active.svg" alt=""></div>
                                <div class="content-title">
                                    中国工程院院士
                                    
                                </div> 
                            </div>
                        </div> 
                    </div>
                </div>
              </div>
            </div>
        </div>
block script
  script(src="./js/data.js?v=#{time}")
