head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0")
    meta(name="format-detection" content="telephone=no")
    <!-- 启用360浏览器的极速模式(webkit) -->
    meta(name="renderer" content="webkit")
    <!-- 避免IE使用兼容模式 -->
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title #{title}
    link(href="./css/lib.css?v=#{time}" rel="stylesheet")
    link(href="./css/main.css?v=#{time}" rel="stylesheet")
    link(rel="shortcut icon" href="/favicon.ico")
    script(src="./js/lib.js?v=#{time}")
    script(src="./js/components/header.js?v=#{time}")
    script(src="./js/components/footer.js?v=#{time}")
    //- <!--[if lte IE 9]><!-->
    //- link(href="./css/ie-fix.css?v=#{time}" rel="stylesheet")
    //- <!--<![endif]-->
    //- <!--Web front end @韩咚咚咚冬 -->
