extends ./index_tp.jade
prepend head
  - var title = "化学分析首页";
prepend body
  - var body_id = "index";
  - var path = "tools-index";
  script(src="./js/jquery-3.3.1.js?v=#{time}")
  script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
  script(src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
block main
  template.
    <div class="body">
        <div class="tools-banner">
            <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active" style="width: 100%; height: 300px">
                <h1>BANNER 1</h1>
                </div>
                <div class="item" style="width: 100%; height: 300px">
                <h1>BANNER 2</h1>
                </div>
                <div class="item" style="width: 100%; height: 300px">
                <h1>BANNER 3</h1>
                </div>
            </div>
            </div>
        </div>
        <div class="tool-title">
            <h2>工具</h2>
            <p>TOOL</p>
        </div>
        <div class="tool-index">
            <div class="float-menu"> <i class="bi bi-arrow-right-short"></i> </div>
            <div class="tool-index-flex"> 
            <div class="tool-menu">
                <div class="panel-group" id="accordion">
                <div class="panel panel-default" id="acitveOne">
                    <div class="panel-heading panel-heading-active">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >
                        <div class="panel-head-flex">
                            <i class="bi bi-clipboard-data-fill"></i>
                            <div style="width: 65%">
                            <h4>宏观数据</h4>
                            <span>Macro data</span>
                            </div>
                            <i id="acitveOne"class="bi-active bi bi-chevron-down bi-down"></i>
                        </div>
                        </a>
                    </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                        <li class="active-panel"><a href="#chemicalAnalysis" data-toggle="tab">煤制烯烃</a></li>
                        <li><a href="#macroData" data-toggle="tab">煤制乙醇</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="panel panel-default" id="acitveTwo">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" >
                        <div class="panel-head-flex">
                            <i class="bi bi-clipboard-data-fill"></i>
                            <div style="width: 65%">
                            <h4>化工分析示例</h4>
                            <span>Chemical analysis</span>
                            </div>
                            <i id="acitveTwo" class="bi bi-chevron-down bi-down"></i>
                        </div>
                        </a>
                    </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                        <li><a>煤制合成气</a></li>
                        <li><a>煤制甲醇</a></li>
                        <li><a>煤制烯烃</a></li>
                        <li><a>煤制甲醇</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
    
                <div class="panel panel-default" id="acitveThree">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" >
                        <div class="panel-head-flex">
                            <i class="bi bi-clipboard-data-fill"></i>
                            <div style="width: 65%">
                            <h4>能源模型</h4>
                            <span>Chemical analysis</span>
                            </div>
                            <i id="acitveThree" class="bi bi-chevron-down bi-down"></i>
                        </div>
                        </a>
                    </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                        <li><a>煤制烯烃</a></li>
                        <li><a>煤制乙醇</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
    
                <div class="panel panel-default" id="acitveFour">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" >
                        <div class="panel-head-flex">
                            <i class="bi bi-clipboard-data-fill"></i>
                            <div style="width: 65%">
                            <h4>化工分析示例</h4>
                            <span>Chemical analysis</span>
                            </div>
                            <i id="acitveFour" class="bi bi-chevron-down bi-down"></i>
                        </div>
                        </a>
                    </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                        <li><a>煤制合成气</a></li>
                        <li><a>煤制甲醇</a></li>
                        <li><a>煤制烯烃</a></li>
                        <li><a>煤制甲醇</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
    
                <div class="panel panel-default" id="acitveFive">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                        <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapseFive"
                        >
                        <div class="panel-head-flex">
                            <i class="bi bi-clipboard-data-fill"></i>
                            <div style="width: 65%">
                            <h4>化工分析示例</h4>
                            <span>Chemical analysis</span>
                            </div>
                            <i id="acitveFive" class="bi bi-chevron-down bi-down"></i>
                        </div>
                        </a>
                    </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                        <li><a>煤制烯烃</a></li>
                        <li><a>煤制乙醇</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
    
                <div class="panel panel-default" id="acitveSix">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                        <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapseSix"
                        >
                        <div class="panel-head-flex">
                            <i class="bi bi-clipboard-data-fill"></i>
                            <div style="width: 65%">
                            <h4>化工分析示例</h4>
                            <span>Chemical analysis</span>
                            </div>
                            <i id="acitveSix" class="bi bi-chevron-down bi-down"></i>
                        </div>
                        </a>
                    </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                        <li><a>煤制合成气</a></li>
                        <li><a>煤制甲醇</a></li>
                        <li><a>煤制烯烃</a></li>
                        <li><a>煤制甲醇</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
    
                <div class="panel panel-default"  id="acitveSeven">
                    <div class="panel-heading">
                    <h4 class="panel-title">
                        <a
                        data-toggle="collapse"
                        data-parent="#accordion"
                        href="#collapseSeven"
                        >
                        <div class="panel-head-flex">
                            <i class="bi bi-clipboard-data-fill"></i>
                            <div style="width: 65%">
                            <h4>化工分析示例</h4>
                            <span>Chemical analysis</span>
                            </div>
                            <i class="bi bi-chevron-down bi-down"></i>
                        </div>
                        </a>
                    </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                        <li><a>煤制烯烃</a></li>
                        <li><a>煤制乙醇</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div id="menuTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="chemicalAnalysis">
                    <div class="caver">
                        <div class="tab-button">
                        <div class="tab-title-flex">
                            <div class="tab-title">
                                <h2>煤制烯烃</h2>
                                <p>Macro data</p>
                            </div>
                            <ul id="toolTab" class="nav nav-tabs">
                                <li>
                                <a href="#home" data-toggle="tab"> 全景图与介绍 </a>
                                </li>
                                <li class="active">
                                <a href="#home" data-toggle="tab">煤制合成气</a>
                                </li>
                                <li><a href="#ios" data-toggle="tab">煤制甲醇</a></li>
                                <li><a href="#ios" data-toggle="tab">煤制烯烃</a></li>
                                <li><a href="#ios" data-toggle="tab">绿氢融合</a></li>
                            </ul>
                        </div>
                        <div id="itemTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="home">
                            <div class="caver tool-macro-data newsText">
                                <div class="news-text">
                                <h2>小标题小标题</h2>
                                <p>帮助大家更好的理解化工过程，能够方便快捷，并且准确的获得相
                                    关数据帮助大家更好的理解化工过程，能够方便快捷，并且准确的
                                    获得相关数据帮助大家更好的理解化工过程，能够方便快捷，并且准确的获得相
                                    关数据帮助大家更好的理解化工过程，能够方便快捷，并且准确的
                                    获得相关数据帮助大家更好的理解化工过程
                                    </p>
                                </div>
                                <img class="text-image" src="./img/tool-bg.png" alt="" />
                            </div>
                            </div>
                            <div class="tab-pane fade" id="ios">
                            <div class="caver">
                                <img  width="100%" src="./img/tool-demo.png" alt="" />
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
    
                <div class="tab-pane" id="macroData">
                <div class="caver">
                    <div class="tab-button">
                        <div class="tab-title-flex">
                            <div class="tab-title">
                            <h2>煤制甲醇</h2>
                            <p>Macro data</p>
                            </div>
                            <ul id="toolTab" class="nav nav-tabs">
    
                                <li class="active">
                                <a href="#macroData1" data-toggle="tab"> 宏观数据1 </a>
                                </li>
                                <li><a href="#macroData2" data-toggle="tab">宏观数据2</a></li>
                            </ul>
                        </div>
                    <div id="itemTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="macroData1">
                        <div class="caver">
                            宏观数据1
                        </div>
                        </div>
                        <div class="tab-pane fade" id="macroData2">
                        <div class="caver">
                            宏观数据2
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
block script
  script(src="./js/tools-index.js?v=#{time}")
