-var time=new Date().getTime();
doctype html
html(lang="zh-CN")
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0")
  meta(name="format-detection" content="telephone=no")
  <!-- 启用360浏览器的极速模式(webkit) -->
  meta(name="renderer" content="webkit")
  <!-- 避免IE使用兼容模式 -->
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  title #{title}
  link(href="./css/lib.css?v=#{time}" rel="stylesheet")
  link(href="./css/main.css?v=#{time}" rel="stylesheet")
  link(rel="shortcut icon" href="/favicon.ico")
  script(src="./js/lib.js?v=#{time}")
  block style
  block body
    block main
block script